
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

<h3>Hello World bitch !!!</h3>

-->



<!DOCTYPE html>
<html>
<head>
	<title>Nirmal Adhikari</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>

	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img class="card border-info" id="profile-pic" src="{% static 'images/ee.jpeg' %}" height="200px"> 
					<br>
					<h4>Hi, I am Nirmal Adhikari !</h4>
					<p>I love coding, research and music.</p>
				</div>
				</div>

			<div class="col-md-9">
				<div class="card card-body h-100 border-info">
					<h4>My Interest On Web Development</h4>
					<hr>
					<br>
					<p>Unlike many others, I have started coding on 2016 in my 12th. It excited me then to solve many problems but may be I took it as an academic thing only.</p>
					<p>The I joined engineering. Coding is must in my field. And learning some other programming languages and developing something big using that knowledge somehow gave me enjoyment.</p>
					<p>Then, I came to know about web development. Upto now this field of coding is the one I enjoyed the most. Today's time where everything is happening online, the knowledge of web development is fruitful economically. It feels like I have found my passion which is becoming a full satck developer.</p>
					<p>I am working on it !!! :)</p>

					<ul class="social-links">
						<li><a href="https://www.facebook.com/NeermalAdhikaree/"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://www.instagram.com/unik_nirmal/"><img class="social" src="{% static 'images/insta.png' %}"></a></li>
						<li><a href="https://mail.google.com/mail/?tab=km&authuser=0"><img class="social" src="{% static 'images/gmail.png' %}"></a></li>
						<li><a href="https://www.youtube.com/channel/UCfO-IHq6loj00nFdFM5Ky0A?view_as=subscriber"><img class="social" src="{% static 'images/youtube.png' %}"></a></li>
						
					</ul>
				</div>
				</div>
					
			</div>
				
		
		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience As a Developer</h5>
					<hr>
					<br>
					<p>Developing is something I enjoy doing. I haven't been enrolled at any job yet as I am learning.</p>
					<p>I am working on some sites development. MY mind is always filled with crazy ideas.</p>
				</div>
				</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know?</h5>
					<hr>
					<br>
					<p>HTML/CSS, C, C++, Javascript, php, python, SQL and frameworks like laravel and django.</p>
					<p>PS: Working on Data Science, Machine Learning, Advanced js, Advanced sql.</p>
					
				</div>
				</div>
					
			</div>
				
		
		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I learn?</h5>
					<hr>
					<br>
					<p>Reading documentations, reverse engineering, online courses, building ugly prototypes first !</p>
					<p>Which part am I studying is best question I always ask myself. Then I can break down my problem and easily I can get answers by reading online forums and documentations. I mostly search for errors fixes in stackoverflow.</p>
				</div>
				</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
					<hr>
					<br>
					<p>After almost 1 year of entering the field of web development, I have felt myself growing skill wise. I will be developing some asewome websites like e-commerce and organizational sites. I will be updating my resume site with any new skill I will be learning.</p>
					<p>With a great team, we will develop our own framework and get educated more in this field. Meanwhile, we would be making some money developing some sites.</p>
				</div>
				</div>
					
			</div>
				
		</div>
		<br>
			
		
	</div>


</body>
</html>